
@using PagedList.Mvc
@model PagedList.IPagedList<University.BL.DTOs.InstructorDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Bienvenido al Index</h2>

@Html.ActionLink("New", "Create", "Instructor", null, new { @class = "btn btn-sm btn-primary" })
<hr />

@using (Html.BeginForm("Index", "Instructor", FormMethod.Get))
{
    <p>
        <select name="PageSize" id="PageSize" class="form-control">
            <option @if ((int)ViewBag.PageSize == 10) { @Html.Raw("selected") }>10</option>
            <option @if ((int)ViewBag.PageSize == 15) { @Html.Raw("selected") }>15</option>
        </select>
        <br />
        <input type="submit" value="Apply" class="btn btn-primary" />
    </p>
}


<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>LastName </th>
            <th>FirstMidName</th>
            <th> HireDate</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.LastName </td>
                <td>@item.FirstMidName</td>
                <td>@item.HireDate</td>
                <td>
                    @Html.ActionLink("Department", "Index", "Instructor", new { Departmentid = item.ID }, new { @class = "btn btn-sm btn-info" })
                    @Html.ActionLink("Edit", "Edit", "Instructor", new { ID = item.ID }, new { @class = "btn btn-sm btn-primary" })
                    @Html.ActionLink("Delete", "Delete", "Instructor", new { ID = item.ID }, new { @class = "btn btn-sm btn-primary" })
                </td>
            </tr>

        }
    </tbody>
</table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        <br />
        Total Item Count @Model.TotalItemCount
        @Html.PagedListPager(Model, page => Url.Action("Index", "Department", new { page, pageSize = ViewBag.PageSize }))

        @if (ViewBag.Data != null && ViewBag.Message != null)
        {
            <ul>
                <li>@ViewBag.Data</li>
                <li>@ViewBag.Message</li>
            </ul>
        }


        @if (ViewBag.Department != null)
        {
            <h1>Department</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>DepartmentID</th>
                        <th>Name </th>
                        <th>Budget</th>
                       <th>StartDate</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (List<University.BL.DTOs.DepartmentDTO>)ViewBag.Department)
                    {
                    <tr>
                        <td>@item.DepartmentID</td>
                        <td>@item.Name</td>
                        <td>@item.Budget</td>
                        <td>@item.StartDate</td>
                    </tr>
                    }
                </tbody>
            </table>
        }

        