@model University.BL.DTOs.DepartmentDTO

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<form action="/Department/Create" method="post">

    @*<label>ID:</label>*@
    @*<input type="text" id="ID" name="ID" />*@

    @Html.DisplayNameFor(m => m.DepartmentID)
    @Html.EditorFor(m => m.DepartmentID, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.DepartmentID, "", new { @class = "text-danger" })

    @*<label>Last Name:</label>
        <input type="text" id="LastName" name="LastName" />*@

    @Html.DisplayNameFor(m => m.Name)
    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

    @Html.DisplayNameFor(m => m.Budget)
    @Html.EditorFor(m => m.Budget, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Budget, "", new { @class = "text-danger" })



    @*<label>Enrollment Date:</label>
        <input type="date" id="EnrollmentDate" name="EnrollmentDate" />*@

    @Html.DisplayNameFor(m => m.StartDate)
    @Html.EditorFor(m => m.StartDate, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })

 
        <input type="submit" value="Create" class="btn btn-primary" />

    </form>
